@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

// Color Scheme for Sass
$colors: (
	background: #9ca39c,
	primary: #00cccb,
	accent: #662124,
	primary-light: lighten(#00cccb, 40%),
	primary-dark: darken(#00cccb, 20%),
);

//Helper function for color selection
@function color($color-name) {
	@return map-get($colors, $color-name);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Asap, sans-serif;
}

body {
	background: color(background);
}

header,
h1 {
	margin: 0px;
}

.first-name {
	font-size: 55px;
	color: white;
	background: color(primary);
	padding: 10px;
	width: 50%;
	display: inline-block;
	text-align: right;
}

.last-name {
	font-size: 55px;
	color: color(primary);
	background: white;
	padding: 10px;
	width: 50%;
	display: inline-block;
	text-align: left;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.nav {
	background: color(accent);
	text-align: center;
	float: none;
	width: 100%;
}

.nav-item {
	font-size: 20px;
	text-align: center;
}

.navbar {
	padding: 0px;
	width: 100%;
	text-align: center;
}

.knockout {
	background: url('../images/circuit.jpeg') -80px -80px;
	color: red;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
	font-size: 100px;
	font-family: arial, helvetica;
	width: 100%;
	margin: 2px auto;
	text-align: center;
}

.container-fluid {
	background: color(primary);
	margin: 5px auto;
	margin-bottom: 90px;
	width: 100%;
	height: fit-content;
	text-align: left;
	padding: 0px;
}

.headshot {
	border-radius: 15%;
	border: solid 3px color(primary);
}

.bio {
	color: black;
	text-align: left;
	font-size: 20pt;
}

.card {
	background: url(../images/circuit.jpeg);
	margin: 0px 10px;
	border: none;
	text-align: center;
}

.card-img-top {
	padding: 10px;
}

.card-body {
	background: color(primary);
	margin: 5px;
}

.card-title {
	color: color(accent);
	font-weight: bold;
	font-size: 28px;
}

.flip-diagonal-2-tl {
	-webkit-animation: flip-diagonal-2-tl 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: flip-diagonal-2-tl 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
